# Don't fail or chagne when nerdctl version throws an error
- name: Check if nerdctl is already installed
  ansible.builtin.command: nerdctl --version
  register: nerdctl_installed_output
  failed_when: false
  changed_when: false
  become_user: "{{ nerdctl_user }}"

- name: Extract installed version
  set_fact: 
    nerdctl_installed_version: "{{ nerdctl_installed_output.stdout | regex_search('[\\d\\.]+') }}"
  when: nerdctl_installed_output.rc == 0

- name: Check latest nerdctl version from github
  block:
    - name: Get latest nerdctl version from GitHub
      ansible.builtin.uri:
        url: "https://github.com/containerd/nerdctl/releases/latest"
        method: HEAD
        follow_redirects: none
        status_code: 302
      register: response
      changed_when: false
      when: nerdctl_version == "latest"

    - name: Set latest available nerdctl version
      set_fact:
        nerdctl_version: "{{ (response.location | regex_search('tag/v?([0-9.]+)$', '\\1') | first) }}"
      when: nerdctl_version == "latest"

- name: Determine if nerdctl needs update
  set_fact:
    nerdctl_needs_update: "{{ nerdctl_installed_version is not defined or nerdctl_installed_version != nerdctl_version }}"

- name: Set archive URLs
  set_fact: 
    nerdctl_archive: "nerdctl-full-{{ nerdctl_version }}-linux-amd64.tar.gz"
  when: nerdctl_needs_update

- name: Set nerdctl download URL
  set_fact:
    nerdctl_download_url: "https://github.com/containerd/nerdctl/releases/download/v{{ nerdctl_version }}/{{ nerdctl_archive }}"
  when: nerdctl_needs_update

- name: Download nerdctl if not already installed
  ansible.builtin.get_url:
    url: "{{ nerdctl_download_url }}"
    dest: "/tmp/{{ nerdctl_archive }}"
    mode: 0755
    owner: "{{ nerdctl_user }}"
  become_user: "{{ nerdctl_user }}"
  when: nerdctl_needs_update

  # TODO: Add progress bar every few seconds. Shows how far the download proceeded already!

- name: Extract nerdctl to /usr/local/
  become: true
  ansible.builtin.unarchive:
    src: "/tmp/{{ nerdctl_archive }}"
    dest: /usr/local
    remote_src: true
  when: nerdctl_needs_update
  notify: Reload systemd units

  # TODO: tar file still on disk... remove?
