- name: Update apt cache
  ansible.builtin.apt:
    update_cache: true
  become: true

- name: Install required packages
  ansible.builtin.apt:
    name: "{{ nerdctl_packages }}"
    state: present
  become: true

- name: Install fuse3 for rootless nerdctl on Debian11
  ansible.builtin.apt:
    name: fuse3
    state: present
  when:
    - ansible_facts.distribution == "Debian"
    - ansible_facts.distribution_major_version == "11"
  become: true

- name: Symlink mount.fuse3 into default Debian11 $PATH
  file: 
    src: /sbin/mount.fuse3
    dest: /usr/local/bin/mount.fuse3
    state: link
    force: true
  when:
    - ansible_distribution == "Debian"
    - ansible_distribution_major_version == "11"
  become: true
