- include_tasks: rootless_setup_system.yaml
- include_tasks: download_and_extract_nerdctl.yaml

- name: Rootless install
  when: nerdctl_rootless
  become_user: "{{ nerdctl_user }}"
  block:
    - name: Run containerd rootless setup as non-root user
      ansible.builtin.command:
        cmd: containerd-rootless-setuptool.sh install

    - name: Install overlayfs quirks for Debian11
      ansible.builtin.include_tasks: rootless_debian11_quirks.yaml
      when:
        - ansible_distribution == "Debian"
        - ansible_distribution_major_version == "11"

    - name: Enable buildkit rootless
      ansible.builtin.shell: containerd-rootless-setuptool.sh install-buildkit

- name: Rootful install - Enable and start required services
  when: not nerdctl_rootless
  ansible.builtin.systemd_service:
    name: "{{ item }}"
    enabled: true
    state: started
  loop:
    - containerd
    - buildkit

- name: Enable bash completion
  block:
    - name: Generate nerdctl bash completion script
      ansible.builtin.shell: nerdctl completion bash
      register: nerdctl_completion
      changed_when: false

    - name: Add nerdctl bash completion script to the system
      ansible.builtin.copy:
        content: "{{ nerdctl_completion.stdout }}"
        dest: /usr/share/bash-completion/completions/nerdctl
        mode: '0644'
      become: "{{ nerdctl_rootless }}"

