- name: Run containerd rootless setup as non-root user
  ansible.builtin.command:
    cmd: containerd-rootless-setuptool.sh install
  become_user: "{{ nerdctl_user }}"
  when: nerdctl_rootless

- name: Install overlayfs quirks for Debian11
  ansible.builtin.include_tasks: rootless_debian11_quirks.yaml
  when:
    - ansible_distribution == "Debian"
    - ansible_distribution_major_version == "11"

- name: Enable and start containerd for rootful nerdctl
  ansible.builtin.systemd:
    name: containerd
    enabled: true
    state: started
  when: not nerdctl_rootless


